wallpapers
cache
weizmann_horse_db
weizmann_horse_db.zip
__MACOSX
data
log
fucking-cooked
node_modules
.pnp
.pnp.js
.yarn/install-state.gz
coverage
.next
out
build
.DS_STORE
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.vscode
